form
{ 
    margin: 0 auto; 
    width:250px;
    text-align: center;
}

.showcase{
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    z-index: 2;
  }
  .showcase.active
  {
    right: 300px;
  }

  .showcase video
  {
    position: absolute;
    top: 0;
    left: 0;
    width: 85%;
    height: 85%;
    object-fit: cover;
    opacity: 0.8;
  }
  .overlay
  {
    position: absolute;
    top: 10;
    left: 10;
    width: 100%;
    height: 100%;
    
  }